<div class="row ml-1"><h2>Forum</h2>
  <div class="ml-auto mr-3">
    <div class="forum-search ml-auto">
      <%= form_tag forum_threads_path, method: :get, class: " form-inline" do %>
        <div class="btn-group">
          <%= text_field_tag :q, nil, placeholder: 'Search Forum' %>
          <%= submit_tag 'Search', class: "btn btn-primary my-2 my-sm-0" %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-12">
    <div class="card card-body">
      <%= link_to "Ask a Question", new_forum_thread_path, class: 'btn btn-primary ask-a-question' %>
      <hr class="divider-hr">
      <h5>Categories</h5>
      <ul class="list-group">
        <% @categories.each do |cat| %>

        <li class="cat-list"><a href="/forum/category/<%= cat %>"><i class="fa fa-square mr-2 cat-<%= cat %>"></i> <%= cat %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-12">
    <div class="card ">
      <div class="card-body">
        <% if @category_threads.empty? %>
          <h4>Sorry, There are no threads for this category.</h4><%= link_to "See all threads", forum_threads_path %>
        <% else %>
          <% @category_threads.each do |thread| %>
            <h4 class="forum-title"><a href="<%= forum_thread_path(thread)%>" class="forum-thread-title"><%= thread.subject.capitalize %></a></h4>
            <div class="forum-thread-meta"><a href="/forum/category/<%= thread.category%>" class="category-link cat-<%= thread.category %>"><%=thread.category.upcase %></a> <span>ASKED ON <%= thread.created_at.strftime("%A, %B %d").upcase %> BY</span> <a href=""><%= full_name(thread.user).upcase %></a></div>
            <hr class="divider-hr">
          <% end %>
        <% end %>
      </div>
    </div>    
  </div>
</div>
